
.head {
  background: #dec9a7;
  color: #4c4c4c;
  padding: 7px 25px;
  font-size: 19px;
}

.add_catalog{
  font-size:24px;
  color:white;
  display:flex !important;
  background:#535353;
  margin-right:10px;
  padding:10px;
  border-radius:5px;
  align-items:center;
}

.catalog_bg{
  min-width:190px;
  font-size:13px;
  color:white;
  display:inline-block;
  background:#535353;
  margin-right:10px;
  padding:10px;
  border-radius:5px;
}
